<h2>Edit <%=thePoke.name%></h2>

<h2><img src="<%=thePoke.img%>" alt=""></h2>
<form action="/pokemon/edit/<%=thePoke.id%>?_method=PUT" method="POST">

    
    <label for="name">Name:</label>
    <input type="text" value="<%=thePoke.name%>" name="name">

    <label for="type">Type:</label>
    <input type="text" value="<%=thePoke.type%>" name="type" >

    <label for="hp">Hp:</label>
    <input type="text" value="<%=thePoke.stats.hp%>" name="hp" >

    <label for="attack">Attack:</label>
    <input type="text" value="<%=thePoke.stats.attack%>" name="attack" >

    <label for="defense">Defense:</label>
    <input type="text" value="<%=thePoke.stats.defense%>" name="defense">


    <label for="img">Image Link:</label>
    <input type="text" value="<%=thePoke.img%>" name="img" >


    <input type="submit" value="Submit" />
</form> 