
<link rel="stylesheet" href="/style.css">
<div class="header">
    <h1>Pokedex</h1>
    <h1><%= poke.name %></h1>
</div>
<div class="show">
    <h2>Poke ID: <%= poke.id %></h2>
    <img src="<%= poke.img %>" alt="<%= poke.name %>" class="show">
    <h2><%= poke.name %></h2>
    <h2>HP: <%= poke.stats.hp %></h2>
    <h2>Attack: <%= poke.stats.attack %></h2>
    <h2>Defense: <%= poke.stats.defense %></h2>
    <div class="types">

    <% poke.type.forEach(t=>{ %>
        <p class="type" id="<%= t %>"> Types: <%= t %></p>
    <% }) %>
</div>
    <a href="/pokemon"><button>back</button></a>
</div>